@media (max-width: 866px) {
  .app {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .app {
    margin-top: 1.9em;
    width: 90%;
    flex-direction: column;
    transform: translateY(0);
  }
  .card__content .list {
    flex-direction: row;
    justify-content: space-around;
  }
  .main .card__header .user__avatar {
    text-align: center;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
  }
  .main .card__header {
    padding: 0;
  }
  .main .card__header img {
    margin: 1em;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
  }
  .user__data {
    padding: 1.5em;
    text-align: center;
  }
  .car {
    gap: 1.5em;
  }
}
@media (max-width: 534px) {
  .car {
    justify-content: center;
  }
  .card:not(.main) {
    width: 40%;
  }
}
/* Full Responsive Small Screen start from 500px */
@media (max-width: 500px) {
  .main .card__header {
    justify-content: center;
    align-items: center;
  }
  .card__content .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card:not(.main) .card__data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card:not(.main) .data__last {
    align-self: center;
  }
  .card:not(.main) .card__header {
    height: 30px;
  }
}
@media (max-width: 270px) {
  .card:not(.main) .data__time {
    font-weight: 300;
    font-size: 1.6rem;
  }
  .card:not(.main) .data__last {
    font-weight: 300;
    font-size: 0.5rem;
  }
  .card__content .list {
    flex-wrap: wrap;
  }
}
