/* Cards Area*/
@media (max-width: 900px) {
  .cards {
    padding: 7em 20%;
  }
}
@media (max-width: 860px) {
  .cards {
    padding: 7em 15%;
  }
}
@media (max-width: 700px) {
  .cards {
    padding: 7em 10%;
  }
}
@media (max-width: 650px) {
  .cards {
    padding: 7em 0%;
  }
}

/* Full Responsive Small Screen start from 500px */
@media (max-width: 500px) {
  .cards {
    display: flex;
    flex-direction: column;
    padding: 2em 5%;
    gap: 1em;
  }
  .main .card__header {
    justify-content: center;
    align-items: center;
  }
  .card__content .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card:not(.main) .card__data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card:not(.main) .data__last {
    align-self: center;
  }
  .card:not(.main) .card__header {
    height: 30px;
  }
}
@media (max-width: 270px) {
  .card:not(.main) .data__time {
    font-weight: 300;
    font-size: 1.6rem;
  }
  .card:not(.main) .data__last {
    font-weight: 300;
    font-size: 0.5rem;
  }
  .card__content .list {
    flex-wrap: wrap;
  }
}
